<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <!-- BOOTSTRAP: this CDN(Contend Delivery Network) is the latest compiled and minified CSS; CDN used when you don't download Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- BOOTSTRAP: the following is for MOBILE: ensure proper rendering and touch-zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- my CSS stylesheet: -->
        <link rel="stylesheet" href="style/stylesheet.css">
        <title>House of Representatives</title>
    </head>
    
<body id="house_page">
        <div id="header"></div>
       
        <div class="container textContainer">
            <div class="row">
               <div class="col-sm-12">
                <h2>Congressmen</h2>
                <p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
                <p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>
                </div>
            </div>
        </div>
   <div id="vueApp">
          <div class="container" v-if="members.length == 0" >
                    <div class="row">   
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 waitBox"><img src="please_wait.gif"></div>
                        <div class="col-sm-2"></div>
                    </div>
          </div>
          <div class ="vueContainer" v-if="showVue">
               <form class = "container  form-horizontal">
                    <div class ="row"> <!-- better to use other attributes, like FLEX -->
                        <div class="col-sm-2"><p>Filter by Party:</p> </div>
                        <div class="col-sm-2"><input type="checkbox" class="checkbox-inline" id="partyFilterD" name="party"  value = "D" v-on:click="filter"> Democratic</div>
                        <div class="col-sm-2"><input type="checkbox" class="checkbox-inline" id="partyFilterR" name="party"  value = "R" v-on:click="filter" > Republican</div>
                        <div class="col-sm-2"><input type="checkbox" class="checkbox-inline" id="partyFilterI" name="party"  value = "I" v-on:click="filter" > Indipendent</div>
                        <div class="col-sm-4">Filter by state: 
                            <select id ="stateSelector" v-on:change="filter">
                               <option value="all">-All-</option>
                                <option v-for="state in states" :value="state">{{state}}</option>
                            </select>
                        </div>
                     </div>
                </form>


                <div class="container tableContainer">
                    <div class="row">
                         <div class="col-sm-12">
                           <!-- it works only over the table, not over the table body, WHY? --> 
                             <table id="tableHeader" class="table table-hover">
                                <thead>
                                    <th>Name</th>
                                    <th>Party</th>
                                    <th>State</th>
                                    <th>Years in Office</th>
                                    <th>Votes with Party</th>
                                </thead>
                                <tbody>
                                    <tr v-for="member in members">
                                      <td>
                                          <a v-bind:href="member.url">{{member.last_name+","}} 
                                              <span v-if="member.middle_name"> {{member.middle_name}}</span>     {{member.first_name }}
                                          </a>
                                      </td>
                                      <td>{{member.party}}</td>
                                      <td>{{member.state}}</td>
                                      <td>{{member.seniority}}</td>
                                      <td>{{member.votes_with_party_pct + "%"}}</td>
                                    </tr>
                                </tbody>
                              </table>

                        </div>
                    </div>
                </div>
       </div>
 </div>  
        <div class="container footer">
            <div>
                 <p>TGIF | all rigths reserved</p>
            </div>
        </div>
        <!-- BOOTSTRAP: jQuery Library from website for header-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- BOOTSTRAP jQuery Library-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Following: Vue link to load Vue library DEVELOPMENT MODE!!!  -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- FOLLOWING: PRODUCTION VERSION OF VUE, for when the website is deployed -->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
        <!-- BOOTSTRAP: compiled Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- following 3 lines: from website too -->
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        <!-- following line: my JS -->
        <!--    <script src ="script/pro-congress-113-senate-DATA.js"></script>-->
        <script>$(function(){
                    $("#header").load("header.html");  
                    });
        </script>
        <script src ="script/senate-house-main.js"></script>
    </body>
</html>