<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <title>House Attendance</title>
        <!-- BOOTSTRAP: this CDN(Contend Delivery Network) is the latest compiled and minified CSS; CDN used when you don't download Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- BOOTSTRAP: the following is for MOBILE: ensure proper rendering and touch-zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- my CSS stylesheet: -->
        <link rel="stylesheet" href="style/stylesheet.css">
    </head>
    
    <body id = "house_page">
      <div id="header"> </div>
      <div id="vueApp">
            <div class="container waitbox" v-if="allMembers.length == 0" >
                <div class="row upperContent">   
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 waitBox"><img src="please_wait.gif"></div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="container" v-if="showVue == true">
                <div class = "row">
                    <div class="col-md-6">
                        <div class="container explContainer">
                            <h1>Attendance - House</h1>
                            <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

                            <p>The House uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tie breaking vote.</p>
                         </div>
                    </div>
                    <div class="col-md-6 glanceContainer">
                        <h3>Attendance in the House at a glance</h3>
                        <table class ="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Party</th>
                                    <th>Number of Representatives</th>
                                    <th>% of Missed Votes (to which party they belong)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="repRow">
                                    <td>Republican</td>
                                    <td>{{repNumber}}</td>
                                    <td>{{percRepMissed}}</td>
                                </tr>
                                <tr id="demRow">
                                    <td>Democrat</td>
                                    <td>{{demNumber}}</td>  
                                    <td>{{percDemMissed}}</td>
                                </tr>
                                <tr id="indRow">
                                    <td>Independent</td>
                                    <td>{{indNumber}}</td>
                                    <td>{{percIndMissed}}</td>
                                </tr>
                            </tbody>
                         </table>
                    </div>
                </div>
                <div class ="row">
                    <div class="col-md-6">
                        <h3>Least Engaged (Bottom 10% Attendance)</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Party</th>
                                    <th>Number of Missed Votes</th>
                                    <th>% Missed</th>
                                </tr>
                            </thead>
                            <tbody id="least_engaged_table">
                                    <tr v-for="member in leastEngagedArray">
                                        <td>
                                            <a v-bind:href="member.url">                                                   
                                                {{member.last_name+","}} 
                                                <span if ="member.middle_name" >
                                                   {{member.middle_name}}
                                                </span>
                                                {{member.first_name }}
                                            </a>
                                        </td>
                                        <td>{{member.party}}</td>
                                        <td>{{member.missed_votes}}</td>
                                        <td>{{member.missed_votes_pct + "%"}}</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Most Engaged (Top 10% Attendance)</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Party</th>
                                    <th>Number of Missed Votes</th>
                                    <th>% Missed</th>
                                </tr>
                            </thead>
                            <tbody id ="most_engaged_table">
                                <tr v-for="member in mostEngagedArray">
                                    <td>
                                        <a v-bind:href="member.url">                                                   
                                            {{member.last_name+","}} 
                                            <span if ="member.middle_name" >
                                               {{member.middle_name}}
                                            </span>
                                            {{member.first_name }}
                                        </a>
                                    </td>
                                    <td>{{member.party}}</td>
                                    <td>{{member.missed_votes}}</td>
                                    <td>{{member.missed_votes_pct + "%"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>   
            </div>
    </div> 
    <div class="container footer">
            <div>
                 <p >powered by megaTURD | all rigths reserved</p>
            </div>
    </div>
    	        
            
    	
    <!-- BOOTSTRAP: jQuery Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Following: Vue link to load Vue library DEVELOPMENT MODE!!!  -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- FOLLOWING: PRODUCTION VERSION OF VUE, for when the website is deployed -->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!-- BOOTSTRAP: compiled Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- following line: my JS -->
    <!--    <script src ="script/pro-congress-113-house-DATA.js"></script>-->
    <script src ="script/attendance-loyalty-main.js"></script>  
    <script>$(function(){
                    $("#header").load("header.html");  
                    });
    </script>
    	         
</body>
</html>