<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8">
          <title>House Representatives Party Loyalty</title>
        <!-- BOOTSTRAP: this CDN(Contend Delivery Network) is the latest compiled and minified CSS; CDN used when you don't download Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- BOOTSTRAP: the following is for MOBILE: ensure proper rendering and touch-zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- my CSS stylesheet: -->
        <link rel="stylesheet" href="style/stylesheet.css">
</head>
    
<body id = "house_page">
    <div id="header"> </div>

    <div id="vueApp">
        <div class="container waitbox" v-if="allMembers.length == 0" >
            <div class="row">   
                <div class="col-sm-2"></div>
                <div class="col-sm-8 waitBox"><img src="please_wait.gif"></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class = "container" v-if="showVue == true">
            <div class = "row upperContent">
                <div class = "col-md-6">
                    <div class="container explContainer">
                        <h1>Party Loyalty</h1>
                        <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
                    </div>
                </div>
                <div class = "col-md-6 glanceContainer">
                    <h3>House at a glance</h3>
                    <table class ="table table-bordered">
                        <thead>
                            <tr>
                                <th>Party</th>
                                <th>Number of Reps</th>
                                <th>% Voted with Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="repRow">
                                <td>Republican</td>
                                <td>{{repNumber}}</td>
                                <td>{{percRepLoyalVotes}}</td>    
                            </tr>
                            <tr id="demRow">
                                <td>Democrat</td>
                                <td>{{demNumber}}</td>
                                <td>{{percDemLoyalVotes}}</td>               
                            </tr>
                            <tr id="indRow">
                                <td>Independent</td>
                                <td>{{indNumber}}</td>
                                <td>{{percIndLoyalVotes}}</td>        
                            </tr>
                        </tbody>
                     </table>
                </div>
            </div>
             
             <div class = row>
                 <div class="col-md-6">
                     <h3>Least Loyal (Bottom 10% of Party Loyalty)</h3>
                     <table class= "table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Party</th>
                                <th>Number of Party Votes</th>
                                <th>% of Party Votes</th>
                            </tr>
                        </thead>
                        <tbody id="least_loyal_table">
                            <tr v-for="member in leastLoyalArray">
                                <td>
                                    <a v-bind:href="member.url">                                                   
                                        {{member.last_name+","}} 
                                        <span if ="member.middle_name" >
                                           {{member.middle_name}}
                                        </span>
                                        {{member.first_name }}
                                    </a>
                                </td>
                                <td>{{member.party}}</td>
                                <td>{{member.totalVotesWithParty}}</td>
                                <td>{{member.votes_with_party_pct + "%"}}</td>
                            </tr>
                        </tbody>
                     </table>
                 </div>
                 <div class="col-md-6">
                     <h3>Most Loyal (Top 10% of Party Loyalty)</h3>
                     <table class = "table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Party</th>
                                <th>Number of Party Votes</th>
                                <th>% of Party Votes</th>
                            </tr>
                        </thead>
                        <tbody id="most_loyal_table">
                            <tr v-for="member in mostLoyalArray">
                                <td>
                                    <a v-bind:href="member.url">                                                   
                                        {{member.last_name+","}} 
                                        <span if ="member.middle_name" >
                                           {{member.middle_name}}
                                        </span>
                                        {{member.first_name }}
                                    </a>
                                </td>
                                <td>{{member.party}}</td>
                                <td>{{member.totalVotesWithParty}}</td>
                                <td>{{member.votes_with_party_pct + "%"}}</td>
                            </tr>
                        </tbody>
                     </table>
                 </div>
             </div>
                     
        </div>
    	 
    </div>        
            
    <div class="container footer">
             <div>
             <p >powered by megaTURD | all rigths reserved</p>
            </div>
    </div>
    	<!-- BOOTSTRAP: jQuery Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Following: Vue link to load Vue library DEVELOPMENT MODE!!!  -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- FOLLOWING: PRODUCTION VERSION OF VUE, for when the website is deployed -->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!-- BOOTSTRAP: compiled Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- following line: my JS -->
    <!--    <script src ="script/pro-congress-113-house-DATA.js"></script>-->
    <script src ="script/attendance-loyalty-main.js"></script> 
    <script>$(function(){
                    $("#header").load("header.html");  
                    });
    </script>	   	         
</body>
</html>