<!DOCTYPE html>
<html lang="en">
<head>
         <meta charset="utf-8"> 
        <!-- BOOTSTRAP: this CDN(Contend Delivery Network) is the latest compiled and minified CSS; CDN used when you don't download Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- BOOTSTRAP: the following is for MOBILE: ensure proper rendering and touch-zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- my CSS stylesheet: -->
        <link rel="stylesheet" href="style/stylesheet.css">
        <title>Senate</title>
</head>

<script>$(function(){
  $("#header").load("header.html");  
});
</script>

<body id="senate_page">
<div id="header">
    <div class= "container">
             <!-- the class "container is from Bootstrap (like "container-fluid") and has fixed width (unlike "container-fluid" class, which has full width); -->
    <!-- try to make the nav bar in a separate file and call it with script in every page: header shuold load a premade template, from a separate HTML -->
      <nav class="navbar navbar-default navbar-fixed-top container">
          <div class="container bigNavBar">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse container">

              <div class="row">
                 <div class ="col-sm-12">
                  <ul class="nav navbar-nav">
                      <li ><img src="magn.png" id="logo"></li>
                      <li class=><a href="#" class="smallTitle">TRANSPARENT GOVERNMENT IN FACTS</a></li>
                      <li class="selected"> <a href="index.html">Home</a></li>
                      <li class="dropdown link">
                          <a class="dropdown-toggle active anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Congress 113 <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a class="subLink" href="house-page.html">House</a></li>
                            <li><a class="active">Senate</a></li>
                          </ul>
                      </li>

                    <li class="dropdown link">
                      <a href="#" class="dropdown-toggle anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attendance <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="subLink" href="house-attendance.html">House</a></li>
                        <li><a class="subLink" href="senate-attendance.html">Senate</a></li>
                      </ul>
                    </li>
                    <li class="dropdown link">
                      <a href="#" class="dropdown-toggle anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Party Loyalty <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="subLink"  href="house-party-loyalty.html">House</a></li>
                        <li><a class="subLink"  href="senate-party-loyalty.html">Senate</a></li>
                      </ul>
                    </li>
                  </ul>
                  </div>
                </div>
            </div><!--/.nav-collapse -->
          </div>
        </nav> 
</div>


           <div class="container textContainer">
            <div class="row">
               <div class="col-sm-9">
                <h2>Senators</h2>
                <p style="text-align: justify">First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military  officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
                </div>
                <div class="col-sm.-3"></div>
            </div>  
           </div> 
            <!-- the class "container is from Bootstrap (like "container-fluid") and has fixed width (unlike "container-fluid" class, which has full width) -->
       <div id="vueApp">
              <div class="container" v-if="members.length == 0">
                              <div class="row">   
                                  <div class="col-sm-2"></div>
                                  <div class="col-sm-8 waitBox"><img src="please_wait.gif"></div>
                                  <div class="col-sm-2"></div>
                               </div>
              </div>

           <div class ="vueContainer" v-if="showVue">     
            <form class = "container  form-horizontal">
                <div class ="row"> <!-- better to use other attributes, like FLEX -->
                    <div class="col-sm-2"><p>Filter by Party:</p> </div>
                    <div class="col-sm-2"><input type="checkbox" class="checkbox-inline" id="partyFilterD" name="party"  value = "D" v-on:click="filter"> Democratic</div>
                    <div class="col-sm-2"><input type="checkbox" class="checkbox-inline" id="partyFilterR" name="party"  value = "R" v-on:click="filter" > Republican</div>
                    <div class="col-sm-2"><input type="checkbox" class="checkbox-inline" id="partyFilterI" name="party"  value = "I" v-on:click="filter" > Indipendent</div>
                    <div class="col-sm-4">Filter by state: 
                        <select id ="stateSelector" v-on:change="filter">
                           <option value="all">-All-</option>
                            <option v-for="state in states" :value="state">{{state}}</option>
                        </select>
                    </div>
                 </div>
            </form>


            <div class="container tableContainer">
                <div class="row">
                     <div class="col-sm-12">
                         <!-- it works only over the table, not over the table body, WHY? --> 
                         <table id="tableHeader" class="table table-hover">
                            <thead>
                                <th>Name</th>
                                <th>Party</th>
                                <th>State</th>
                                <th>Years in Office</th>
                                <th>Votes with Party</th>
                            </thead>
                            <tbody id="senateTable">
                                <tr v-for="member in members">
                                  <td><a v-bind:href="member.url">{{member.last_name+","}} <span v-if="member.middle_name"> {{member.middle_name}}</span> {{member.first_name }}</a></td>
                                  <td>{{member.party}}</td><td>{{member.state}}</td><td>{{member.seniority}}</td><td>{{member.votes_with_party_pct + "%"}}</td>
                                </tr>
                            </tbody>
                          </table>


                    </div>
                </div>
            </div>
        </div>
     </div>      
            <div class="container footer">

                 <p >powered by megaTURD | all rigths reserved</p>
            </div>

    </div> 
        <!-- BOOTSTRAP: jQuery Library from website for header-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- BOOTSTRAP jQuery Library-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Following: Vue link to load Vue library DEVELOPMENT MODE!!!  -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- FOLLOWING: PRODUCTION VERSION OF VUE, for when the website is deployed -->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
        <!-- BOOTSTRAP: compiled Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- following 3 lines: from website too -->
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        <!--   jQuery library taken from JSBin, from Raul's example -->
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

        <!-- following line: my JS -->
    <!--    <script src ="script/pro-congress-113-senate-DATA.js"></script>-->
        <script src ="script/senate-house-main.js"></script>

</body>
</html>